* {
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Roboto Mono', monospace;    
    color: black;
    line-height: 1.7em;
    width: 100vw;
}
img {
    width: 100%;
    height: auto;
}
.post__cover {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    margin: 0;
    padding: 0;
}
.index__image > img {
    width: 300px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: rotate(-5deg);
    z-index: -1;
}

/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width:480px) and (max-width:599px)  { 
    /* smartphones, Android phones, landscape iPhone */
}
@media (min-width:600px) and (max-width: 800px)  { 
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (min-width: 760px) {
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}
section {
    padding: 20px 20px;
    margin: auto;
    font-size: 15px;
}
.one__post {
 font-size: 15px;
}
.blog__post {
    width:90%;
    margin:auto;
    padding:30px 0;
}
.blog__date {
    padding: 20px 0px;
}
.blog__content {
    padding: 30px 0;
}