img[alt$="-fullwidth"]{
  width:  100%;
  display: block;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: auto;
    line-height: 1.7em;
}
footer {
    display:flex;
    flex-direction: column;
    width: 100vw;
}

.footer__copywrite {
    font-size: 12px;
    text-align: right;
    background-color: burlywood;
    padding: 5px;
}
.footer__icons {
    font-size: 50px;
    background-color: transparent;
    padding: 15px 15px;
    text-align: right;
}
.page-title {
    text-align: center;
}

.page-title h1 a, .post a {
    color: black;
}

a {
    text-decoration: none;
    color: red;
}

.page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}

.content {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post {
    padding-left: 1.5em;

}

.blog-post {
    width:90%;
    margin:auto;
    padding:10px 0;
}

ul {
    padding: 0;
    margin: 0;
}