html {
    overflow-y: scroll
}
:root { 
    --bgcolor: rgb(247, 247, 247); 
    --fontcolor: rgb(31, 31, 31); 
    --linkcolor: blue; 
    --visitedcolor: purple; 
    --precolor: #fff; 
    --prebgcolor: #000;
}
@media (prefers-color-scheme: dark) { 
    :root { 
        --bgcolor: black; 
        --fontcolor: white; 
        --linkcolor: #5bf; 
        --visitedcolor: #ae5ee0; 
        --precolor: #fff; 
        --prebgcolor: #383838;
    }
}
body{
    font-family: Arial, Helvetica, sans-serif;
    max-width:800px;
    margin:40px auto;
    padding:0 10px;
    font-size:14px;
    line-height: 1.5em;
    color:var(--fontcolor); 
    background: var(--bgcolor)
}
a {
    text-decoration: none;
}
a:link{
    color: var(--linkcolor)
}
a:visited{
    color: var(--visitedcolor)
}
a:active{
    color: var(--visitedcolor)
}
h1,h2,h3{
    line-height:1.2
}
p > code{
    color: var(--precolor); 
    background: var(--prebgcolor); 
    padding:2px
}
pre{
    color: var(--precolor); 
    background: var(--prebgcolor); 
    padding:24px; 
    overflow-x: auto
}
article{
    padding:24px 0
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
img {
    display: block; 
    max-width: 100%; 
    height: auto;
    margin: auto;
}
figcaption {
    color: #888; 
    font: 12px/1.5 monospace; 
    text-align: center;
}
figure {
    margin: auto;
}

form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 5px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 25%;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}